<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
	  <% if current_user.admin? %>
	  <section>
	  <ul>
	  <li><%= link_to "Add new user", signup_path %></li>
	  <li><%= link_to "View all users", users_path %></li>
	  </ul>
	  </section>
	  <% end %>
    </aside>
	<% if !current_user.admin? %>
	<div class="col-md-8">
      <h3>Task List</h3>
      <%= render 'shared/feed' %>
    </div>
	<% end %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Tech-Life Balance</h1>
      <p>
        <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
	    <%= link_to "Create Account", connection_path, class: "btn btn-lg btn-primary" %>
      </p>
  </div>
<% end %>