<%= form_for([user]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.fields_for :wifi do |w| %>
    <%= w.label :key, "Wifi Key" %>
    <%= w.text_field :key, class: 'form-control'%>
  <% end %>
  
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password, "Password" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  
  <%= f.label :admin do %>
        <%= f.check_box :admin %>
	    <span>Admin?</span>
  <% end %>
  
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>